{{#partial "content"}}
    <!--table to display content-->
    <link rel="stylesheet" href="/public/css/styles.css">
    <div class="jumbotron">
        <h3>WildLife Tracker</h3>

        <p>This web app will allow you to report any sightings you make in this area</p>
    </div>
{{/partial}}
{{> layout.hbs}}