{{#partial "content"}}

    <a class="btn btn-elegant" id="but" href="/EndangeredSightings">Endangered</a>
    <a class="btn btn-elegant" id="but" href="/NonEndangeredallSightings">Non-Endangered</a>


{{/partial}}
{{> layout.hbs}}