{{#partial "content"}}
<!--    <style>-->
<!--         body {-->


<!--       text-align:center;-->
<!--             }-->
<!--    </style>-->
    <div class="jumbotron">
            <h3>The Added Animal </h3>
            {{name}}<br>
            {{health}}<br>
            {{age}}<br>
        </div>
{{/partial}}
{{>layout.hbs}}