{{#partial "content"}}
    <div class="container">
      <h4><a href="/">Add another sighting</a></h4>
      <P>The animal <strong>{{name}}</strong>sighting was successfully recorded.</P>
    </div>
{{/partial}}
{{> layout.hbs}}